@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding:0;
}


#hero{
    height: 87vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 2, 65, 0.7);
    z-index: 0;
  }

  #menu {
    overflow: visible !important;
    background-color: white;
    z-index: 9999 !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  
  
  .swipp{
    height: 110vh;
    margin-left: 100px;
  }

  .swiper {
    height: auto;
  }

  .swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.442) !important;

}

.carontaine{
    height: 100%;
}

#sliddcontainer{
    background-image: url(../image/8038877_25101.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logoi{
    filter: grayscale(1.5) invert(1.5);
}

/* Hamburger menu */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }

  
  /* *{
    outline: 1px solid red;
  } */

#about-us{
  max-width: 1200px;

}
  @media (max-width:768px) {
    .swipp{
      height: 90vh;
      margin-left: 0px;
    }
  
    .swiper-slide img{
      height: 550px;
      object-fit: cover;
    }
  }

  @media (max-width:480px){
    .swipp{
      height: 70vh;
      margin-right: 0px;
    }

    .swiper-slide img{
      height: 540px;
    }
  }